<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Your App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="open(content);showlogin=true">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="open(content);showlogin=false">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        <span *ngIf="showlogin">Login with your email</span>
        <span *ngIf="!showlogin">Register a new account</span>
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <nav class="nav">
          <a [className]="showlogin ? 'nav-link text-danger' : 'nav-link'" (click)="showlogin=true">Sign in</a>
          <a [className]="!showlogin ? 'nav-link text-danger' : 'nav-link'" (click)="showlogin=false">Sign up</a>
        </nav>
      </div>
      <div class="card-body" *ngIf="showlogin==true">
        <app-login></app-login>
      </div>
      <div class="card-body" *ngIf="showlogin==false">
        <app-register></app-register>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
  <router-outlet></router-outlet>
</div>